/*
 * Empty Stylesheet file.
 */
.bg{
    -fx-background-image: url(../Images/adminbg.jpg);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-width: 100%;
   
}
.search{
    -fx-background-color: transparent;
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-text-fill:white;
}
.mainFxmlClass {
   -fx-background-color: #6b3714;
}
.mpane{
   -fx-background: transparent;
    -fx-border-color:white;
    -fx-color: #50290e;
}
.lgbtn {
 -fx-background-color:  #50290e;
  -fx-border-color:white;
   
}
.btns{
   -fx-background-color: #9c5e40;
  -fx-border-color:white;
  
}
.btn2{
    -fx-background-color: #9c5e40;
  -fx-border-color:white;
}
.tab-header-background{
    -fx-background-color:#50290e;
}
.tbview{
    -fx-background-color:#a18374;
}