/*
 * Empty Stylesheet file.
 */
.bg{
    -fx-background-image: url(../Images/landbg2.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-width: 100%;
    -fx-height: 100%;
}
.mform{
    -fx-border-color:white;
    -fx-border-radius: 25px;
}
.btn{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 50px;

}