/*
 * Empty Stylesheet file.
 */
#leftPane{
    -fx-background-color: rgb(178,126,178);
}
#rightPane{
    -fx-background-color: rgb(193,164,193);
}
.field{
    -fx-background-color:rgb(193,164,193);
}