.regbg{
    -fx-background-image: url(../Images/landbg.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-width: 100%;
    -fx-height: 100%;
}
.lblField{
    -fx-color: red;
}

.btn{
    -fx-background-color: #916b54;
    -fx-border-radius: 50px;

}
